<section class="sm-patient-list panel panel-default">
    <div class="panel-heading">Add new Patient General Information</div>
    <div class="panel-body">
        <form role="form">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="sm-form-input-1">First Name</label>
                        <input type="text" class="form-control" id="sm-form-input-1" placeholder="Enter first name">
                    </div>
                    <div class="form-group">
                        <label for="sm-form-input-2">Middle Name</label>
                        <input type="text" class="form-control" id="sm-form-input-2" placeholder="Enter first name">
                    </div>
                    <div class="form-group">
                        <label for="sm-form-input-3">Last Name</label>
                        <input type="text" class="form-control" id="sm-form-input-3" placeholder="Enter first name">
                    </div>
                    <div class="form-group">
                        <label for="sm-form-input-4">Gender</label>
                        <select id="sm-form-input-4" class="form-control">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="sm-form-input-5">Date of Birth</label>
                        <input type="text" class="form-control" id="sm-form-input-5" placeholder="Enter Date of birth mm/dd/yyyy">
                    </div>
                    <div class="form-group">
                        <label for="sm-form-input-2">SSN</label>
                        <input type="text" class="form-control" id="sm-form-input-2" placeholder="Enter SSN">
                    </div>
                    <div class="form-group">
                        <label for="sm-form-input-3">MRN</label>
                        <input type="text" class="form-control" id="sm-form-input-3" placeholder="MRN">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>

        </form>
    </div>
</section>
