<section class="sm-patient-list panel panel-default">
    <div class="panel-heading">Docs</div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>File</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="#/patient/doc/1">File1</a></td>
                    <td>Test1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="#/patient/doc/1">File3</a></td>
                    <td>Test3</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="#/patient/doc/1">File3</a></td>
                    <td>Test3</td>
                </tr>
            </tbody>
        </table>
    </div>

</section>
<section class="sm-patient-list panel panel-default">
    <div class="panel-heading">Add Document</div>
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <label for="sm-form-input-1">File</label>
                <input type="file" class="form-control" id="sm-form-input-1">
            </div>
            <div class="form-group">
                <label for="sm-form-input-2">Comments</label>
                <textarea class="form-control" id="sm-form-input-2" placeholder="Enter comments"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</section>