<section class="sm-patient-list panel panel-default">
    <div class="panel-heading">Insurance</div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">1. Provider Name : Provider 1</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Type:</strong> Type1</li>
                            <li class="list-group-item"><strong>Expiry Date:</strong> 11/11/11</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Comments:</strong>
                                <p>Test comments</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">2. Provider Name : Provider 2</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Type:</strong> Type1</li>
                            <li class="list-group-item"><strong>Expiry Date:</strong> 11/11/11</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Comments:</strong>
                                <p>Test comments</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Add Insurance</div>
            <div class="panel-body">
                <form role="form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sm-form-input-1">Provider</label>
                                <input type="text" class="form-control" id="sm-form-input-1" placeholder="Enter provider">
                            </div>
                            <div class="form-group">
                                <label for="sm-form-input-2">Type</label>
                                <input type="text" class="form-control" id="sm-form-input-2" placeholder="Enter type">
                            </div>
                            <div class="form-group">
                                <label for="sm-form-input-3">Expiry</label>
                                <input type="text" class="form-control" id="sm-form-input-3" placeholder="Enter data">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sm-form-input-5">Comments</label>
                                <textarea class="form-control" id="sm-form-input-5" placeholder="Enter comments" rows="8"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
