<section class="sm-patient-list panel panel-default">
    <div class="panel-heading">Patients <a class="glyphicon glyphicon-plus" href="#patient/add" title="add">add</a></div>
    <div class="panel-body">
    <h3></h3>
    <form class="form-inline" role="form">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">#</div>
                <input class="form-control" type="number" placeholder="Search by ID">
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="sm-form-name"  placeholder="Filter by name">
        </div>
        <div class="form-group">
            <select class="form-control">
                <option value=""> - Filter by gender - </option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Filter</button>
        </div>

    </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="#/patient/view">Mark</a></td>
                <td>Otto</td>
                <td>Male</td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="#/patient/view">Jacob</a></td>
                <td>Thornton</td>
                <td>Male</td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="#/patient/view">Larry</a></td>
                <td>the Bird</td>
                <td>Female</td>
            </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
    </div>
</section>
