
<section class="sm-patient-list panel panel-default">
    <div class="panel-heading">Patient Information</div>
    <div class="panel-body">
        <h4>General <a class="glyphicon glyphicon-pencil" href="#">edit</a></h4>
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>First name:</strong> John</li>
                    <li class="list-group-item"><strong>Middle name:</strong> Smith</li>
                    <li class="list-group-item"><strong>Last name:</strong> Potter</li>
                    <li class="list-group-item"><strong>Gender:</strong> Male</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Date of Birth:</strong> 01/01/1980</li>
                    <li class="list-group-item"><strong>SSN:</strong> No idea</li>
                    <li class="list-group-item"><strong>MRN:</strong> No idea</li>
                </ul>
            </div>
        </div>
        <h4>Clinical <a class="glyphicon glyphicon-pencil" href="#">edit</a></h4>
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Height:</strong> 1</li>
                    <li class="list-group-item"><strong>Weight:</strong> 2Kg</li>
                    <li class="list-group-item"><strong>Hip:</strong> 30</li>
                    <li class="list-group-item"><strong>Gender:</strong> Male</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Epworth Score:</strong> 1</li>
                    <li class="list-group-item"><strong>BP Systolic:</strong> 2</li>
                    <li class="list-group-item"><strong>BP Diastolic:</strong> 2</li>
                </ul>
            </div>
        </div>
        <h4>Contact Information <a class="glyphicon glyphicon-pencil" href="#">edit</a></h4>
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Home phone:</strong> 1213</li>
                    <li class="list-group-item"><strong>Work phone:</strong> 1212</li>
                    <li class="list-group-item"><strong>Mobile phone:</strong> 121</li>
                    <li class="list-group-item"><strong>Email:</strong> ss@aa.com</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Address:</strong> #12,abcd</li>
                    <li class="list-group-item"><strong>City:</strong> Delhi</li>
                    <li class="list-group-item"><strong>State:</strong> Delhi</li>
                    <li class="list-group-item"><strong>Zip:</strong> 12345</li>
                </ul>
            </div>
        </div>
    </div>
</section>
