body{
    margin: 0; padding: 0;
    font-family: Helvetiva, arial, sans-serif;
    font-size: 18px;
    color: #666;
}

form{
    max-width: 600px;
    padding: 20px;
    margin: 20px auto;
    background: #eee;
}
dl,dd,dt{
    margin: 0;
}
input[type="text"],input[type="password"]{
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
    padding: 5px;
    border:1px solid #ccc;
}
dt{
    margin-top: 20px;
}
input.error{
    border-color:red;
}
input.valid{
    border-color: green;
}
span.error{
    font-size: 12px;
    color: red;
}